.palette{
  display: block;
  height: 250px;
  width: 180px;
  margin: auto;
  box-shadow: 0 0 0.1em 0.03em rgba(0, 0, 0, 0.7);
  clear: both;
}

.root{
  height: 100%;
  padding: 30px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  background-color: #efefef;
}

.rangeslider {
  display: block;
  width: 200px;
  margin-top: 30px;
  position: relative;
  background: #e6e6e6;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
}

/**
* Rangeslider - Horizontal slider
*/
.rangeslider__tooltip{
  display: none;
}
.rangeslider-horizontal {
  height: 3px;
  border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: grey;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  top: -4px;
}
