
input{
  max-width: 83%;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  padding: 1em;
  border-spacing: 0;
  space: 0;
  
}

.code{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
